.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161b22;
    width: 250px;
    height: 100vh;
    padding: 50px;

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    &__title{
        font-size: 20px;
        margin: 0;
        margin-left: 10px;
    }

    &__icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;


        &--icon{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 30px;
            border: none;
            transition: all 300ms ease-in-out;

            &:hover{
            background-color: #ffffff;
            color: #161b22;
            }


            .sidebar-icon{
                width: 80%;
                height: 80%;
            }
        }
    }
    
    &__log{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 50px;
        min-width: 90%;
        border-radius: 15px;
        background-color: transparent;
        border: 1px solid #55afff; 
        font-size: 20px;
        transition: all 300ms ease-in-out;
        font-weight: 100;
        color: #fffff1;
        text-decoration: none;
    

        &:hover{
            background-color: #55a0f5;
        }
    }
}

.add{
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    top: 40px;
    background-color: transparent;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid #55a0f5;
    transition: all 300ms ease-in-out;

    &:hover{
        background-color: #55a0f5;
    }

    .add-icon{
        width: 50%;
        height: 50%;
    }
   
}