.flash-card{
    position: absolute;
    z-index: 3;
    @include createFlex(flex, flex-start);
    top: 10px;
}

.NoThings, .CardsLoading{
    width: $wrapper-full;
    height: $wrapper-full;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    @include createFlex(flex, center, center);
}

.category-thing{
    max-width: $wrapper-xl;
    margin-top: 10vh;
    margin-left: 300px;
    @include createFlex(flex, center);

    &__card{
        @include createFlex(flex, null, null, column);
        width: 300px;
        height: fit-content;
        margin: 10px;
        padding: 20px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        border-radius: 10px;
        background-color: #161b22;
        border: 1px solid #55afff;

        &--delete{
            cursor: pointer;
            justify-self: flex-end;
            align-self: flex-end;
            background-color: transparent;
            font-size: pxToRem(20);
            border: none;
            color: #55a0f5;
        }

        &--link{
            cursor: pointer;
            width: $wrapper-m;
            height: 50px;
            @include createFlex(flex, center, center);
            text-decoration: none;
            color: #ffffff;
            border: 1px solid #55afff;
            background-color: #0d1117;
            border-radius: 10px;
            transition: all 400ms ease-in-out;

            &:hover{
                background-color: #55a0f5;
            }
        }
    }
}




@media (max-width: 768px) {

    .category-thing{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $wrapper-full;
        margin-left: 0px;
    }

    .flash-card{
        justify-content: center; 
    }
    
}