.firstPage{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include createFlex(flex, space-around, center, column);
    box-shadow:inset 0 0 400px #000000;

    &__blur{
            position: fixed;
            z-index: 2;
            backdrop-filter: blur(3px);
            width: $wrapper-full;
            height: $wrapper-full; 
    }

    &__header{
     z-index: 3;
     background-color: #161b22;
     border-radius: 20px;
     width: 250px;
     height: 200px;
     display: flex;
     align-items: center;
     padding-left: 30px;
     font-size: pxToRem(50);   

     h1{
        margin: 0px;
       }
    }

    &__btn{
    z-index: 3;
    @include createFlex(flex, space-between, center, column);
    width: 350px;
    height: 150px;

    &--login,
    &--register,
    &--redirect{
        @include createFlex(flex, center, center);
        cursor: pointer;
        height: 50px;
        min-width: $wrapper-xxl;
        border-radius: 15px;
        background-color: #0d1117;
        border: 1px solid #55afff; 
        font-size: pxToRem(20);
        transition: all 300ms ease-in-out;
        font-weight: $f-weight-xs;
        color: #fffff1;
        text-decoration: none;

        &:hover{
            transform: scale(1.1);
        }
    }
    }
}

@media (max-width: 768px){

    .firstPage{
    box-shadow:inset 0 0 50px #000000;

        &__header{
         width: 150px;
         height: 150px;
         font-size: pxToRem(30);   
        }
    
        &__btn{
        width: 300px;
        }
    }

}